<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844235026468-vun3hn4fccnmdao8c0vu0a5qkt0t8tpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844235026468-vun3hn4fccnmdao8c0vu0a5qkt0t8tpk</string>
	<key>API_KEY</key>
	<string>AIzaSyBdnDZj1YiEOpNDmqiY-O5-WwHg1dmuYj8</string>
	<key>GCM_SENDER_ID</key>
	<string>844235026468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forecast.org.cafeapp</string>
	<key>PROJECT_ID</key>
	<string>cafe-server-76753</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-server-76753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844235026468:ios:dc7f1fee3801e06edbe8b1</string>
</dict>
</plist>